* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #3586ff, #a2c6fa);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 30px 35px 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.container.disable .editor-container, 
.container.disable .action-btns{
  opacity: 0.5;
  pointer-events: none;
}
.container .wrapper{
  display: flex;
  margin: 20px 0;
  min-height: 335px;
}
.wrapper .editor-container {
  padding: 15px 20px;
  width: 280px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.editor-container .title {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.editor-container .filter-info{
  text-align: center;
}
.editor-container .margins{
  width: 100%;
}
.editor-container .rotate, .action-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-container .crop, .action-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-container .ratio, .action-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-container .slider, .action-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-container button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #6C757D;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.editor-container .rotate button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #5370F0;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 4px);
}
.editor-container .crop button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #5370F0;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2 - 4px);
}
.editor-container .ratio button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #5370F0;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 5 - 4px);
}
.editor-container button:hover{
  background: #5372F0;
  color: #fff;
}
.options-btn button.active{
  color: #fff;
  border-color: #5370F0;
  background: #5370F0;
}
.editor-container .rotate{
  margin-top: 17px;
}
.wrapper .image-container{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 360px;
  width: 350px;
  font-weight:400;
  flex-direction: column;
}
.image-container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.drag-image .active{
  border: 0px solid #fff;
}
.drag-image .icon{
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 30px;
  color: #5372F0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.drag-image h6{
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 300;
  color: #5372F0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.drag-image span{
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 300;
  color: #5372F0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.drag-image button{
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 10px 25px;
  font-size: 14px; 
  font-weight: 300;
  border: none;
  outline: none;
  background:transparent;
  color: #5372F0;
  border:1px solid #5372F0;
  border-radius: 5px;
  cursor: pointer;
  transition:all 0.5s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.drag-image button:hover{
  background-color:#5372F0;
  color:#fff;
}
.action-btns button{
  padding: 11px 20px;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.action-btns .reset-filter{
  color: #5370F0;
  border: 1px solid #6C757D;
}
.action-btns .reset-filter:hover{
  color: #fff;
  background: #5372F0;
}
#download {
  margin-left: 5px;
  background: #5372F0;
  border: 1px solid #5372F0;
  padding: 11px 20px;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
a:link { text-decoration: none; }
@media screen and (max-width: 760px) {
  .container{
    padding: 25px;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .drag-image{
    width: 100%;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .controls button{
    width: 100%;
    margin-bottom: 10px;
  }
  .controls{
    width: 100%;
  }
  .controls .save-img{
    margin-left: 0px;
  }
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
